$width:null;
$height:null;
$body: #efefef;
$nav-colok:#222222; //shux
$size-x:12px;
$size-z:14px;
$size-d:16px;
$f:float;
$l:left;
$r:right;
$warpper:1200;
$lh:line-height;
$top:null;
$left:null;
$d:display;
$ib:inline-block;